body {
    color: #ffffff;
    font-family: Verdana, Arial, sans-serif;
    background-image: url(backgroundflat.svg);
    background-repeat: repeat-y repeat-x;
}

.particles-js-layer {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header {
    background-color: #ffffff;
    height: 150px;
}

h1 {
    margin: 3em;
    text-align: center;
    color: #ffffff;
}

h2 {
    text-align: center;
    padding-bottom: 2em;
    padding-top: 2em;
    color: #ffffff;
}

text {
    text-align: center;
    padding: 1px;
}

nav.floating-menu {
    position: relative;
    text-align: right;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    position: fixed;
    right: 100px;
    top: 46px;
    color: white;
    font-size: 2rem;
}

nav.floating-menu .hamburger {
    transition: 1s;
    position: relative;
    transform: rotate(0deg);
}

nav.floating-menu:hover .hamburger {
    transform: rotate(180deg);
}

body.start-invitation-animation .hamburger {
    width: 32px;
    height: 32px;
    transform: rotate(360deg);
}

nav.floating-menu .menu-items {
    font-size: 2rem;
    text-align: center;
    transition: 0.2s;
    overflow: hidden;
    background: rgba(51, 49, 56, 0.7);
    height: 0px;
}

nav.floating-menu:hover .menu-items {
    height: 13.5em;
    padding: 1em;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-shadow: rgba(0, 0, 0, 0.6) 2px 2px 1px;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    padding-top: 2em;
    margin-top: 2em;
    display: block;
}

main:nth-child(even) {
    background: rgba(0, 0, 0, 0.2);
}

p {
    padding-top: 1em;
    padding-bottom: 1em;
    color: #ffffff;
    font-size: 1.2em;
}

text {
    color: #ffffff;
}

details {
    padding-right: 20%;
    padding-left: 20%;
}

img {
    padding-left: 5px;
    padding-right: 5px;
}

div {
    text-align: center;
}

#wrapper {
    min-width: 900px;
    /* max-width: 1280px; */
    margin-right: auto;
    margin-left: auto;
    overflow: visible;
    scroll-behavior: smooth;
}

.contacts {
    font-size: 0.5em;
}

ul {
    list-style-type: none;
    padding-left:0;
}

li {
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    margin: 10px;
}

label {
    float: left;
    display: block;
    text-align: right;
    font-weight: bold;
    width: 10em;
    padding-right: 1em;
    margin-left: 20em;
}

input,
textarea {
    display: block;
    margin-bottom: 2em;
    margin-left: 45em;
}

form {
    padding: 3em;
}

iframe {
    padding: 1em;
}

a {
    color: #000000;
    transition: 0.1s;
    position: relative;
    top: 0px;
}

a:visited {
    color: #fdd2aa;
}

a:hover {
    color: burlywood;
    top: -2px;
}

a:active {
    color: #737079;
    top: 2px;
}
.socialmedia {
    margin-top: 10em;
    margin-bottom: 1em;
}

@media only screen and (max-width: 1024px) {
    body {
        margin: 0;
    }
    #wrapper {
        width: auto;
        min-width: 0;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
    header {
        border-bottom: 5px solid #F3F6C2;
    }
    h1 {
        margin-top: 0;
        margin-bottom: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 2.5em;
    }
    nav {
        float: none;
        width: auto;
        padding-top: 0;
        margin: 10px;
        font-size: 1.3em;
    }
    nav li {
        display: inline-block;
    }
    nav a {
        padding: 1em;
        width: 8em;
        font-weight: bold;
        border-style: none;
    }
    nav ul {
        padding: 0;
        margin: 0;
    }
}

main {
    margin: 0;
    font-size: 90%;
}